/********* DEFAULT SETTINGS **********/
@import './utils/fonts';
@import './lib/reset';
@import './utils/vars';
@import './utils/mixins';

html,body {
    @include scrollbar;
    position: relative;

    font-size: 10px;
    font-family: $font-family-primary;

    height: 100%;
    background-color: $background-color;
    color:$font-color;
}


/********* COMPONENTS IMPORTS **********/

@import './components/header';
@import './components/UI/title';
@import './components/UI/input';
@import './components/find_page';
@import './components/vacancy_list';
@import './components/vacancy_worker';
@import './components/UI/message';
@import './components/UI/worker_link';
@import './components/UI/loader';
@import './components/modal';

/********* UTILS IMPORTS **********/

@import './utils/container';