$open-sans-font: "Open Sans", sans-serif;
$merri-font: "Merriweather", serif;
$fira-font: "Fira Sans", sans-serif;
$mont-font: "Montserrat", sans-serif;

$font-family-primary: $open-sans-font;
$font-family-secondary: $mont-font;

$gray: #ddd;
$blue: #89B3F7;
$dark-blue: #252932;
$black: #202124;
$white: #fff;
$red: #EB4C42;
$green: #50C878;


$background-color: $black;
$font-color: $white;

$border-radius: 20px;
$border-radius-less: 8px;